body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.first-section{
    background-image: url(wizard.png);
    display: flex;
    margin-bottom: 150px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 696px;
    background-position-y: 10px;
    background-size: 547px;
    padding-left: 2%;
}
h1{
    font-size: 45px;
}
.fsh2{
    padding-left: 10%;
    color: rgb(77, 77, 77);
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fsh3{
    font-size: 20px;
    color: rgb(39, 3, 3);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fsdo{
    width: 50%;
    padding-top: 10px;
    padding-left: 5%;
}
.fsdo img{
    width: 66%;
    padding-left: 0%;
}
.fsh1s{
    font-size: 48px;
    color: rgb(43, 17, 3);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.GHOSH{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(9, 3, 3);
    padding-left: 5%;
}
#fsdoi{
    padding-top: 15px;
}
p{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.a{
    text-decoration: none;
    background-image: linear-gradient( rgb(65, 1, 1), rgb(0, 0, 0));
    padding: 15px 40px;
    border-radius: 15px;
    color: blanchedalmond;
    font-weight: 700;
}
.second-section{
    display: flex;
    background-image: url(bg.jpg);
    background-position: 100% 100%;
    margin-bottom: 150px;
}
.ssdt{
    width: 60%;
    padding-left: 5%;
    color: rgb(0, 0, 0);
    
}
.ssh2{
    padding-left: 20%;
    font-size: 45px;
    color: rgb(39, 3, 3);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.ssdt img{
    width: 15%;
    padding-left: 36%;
    padding-top: 6%;
}
.ssdo img{
    width: 125%;
    padding-top: 20%;
}
.sa{
    text-decoration: none;
    background-image: linear-gradient( rgb(65, 1, 1), rgb(0, 0, 0));
    padding: 10px 30px;
    border-radius: 15px;
    color: blanchedalmond;
    font-weight: 700;
    margin-left: 36%;
}