body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.first-section{
    background-image: url(wizard.png);
    display: flex;
    margin-bottom: 150px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 696px;
    background-position-y: 10px;
    background-size: 547px;
    padding-left: 2%;
}
h1{
    font-size: 45px;
}
.fsh2{
    padding-left: 10%;
    color: rgb(77, 77, 77);
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fsh3{
    font-size: 19.5px;
    color: rgb(39, 3, 3);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 15px;
}

.fsdo{
    width: 50%;
    padding-top: 10px;
    padding-left: 5%;
}
.fsdo img{
    width: 66%;
    padding-left: 0%;
}
.fsh1s{
    font-size: 48px;
    color: rgb(43, 17, 3);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.GHOSH{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(9, 3, 3);
    padding-left: 5%;
}
#fsdoi{
    padding-top: 15px;
}
p{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 35%;
}
.a{
    text-decoration: none;
    background-image: linear-gradient( rgb(65, 1, 1), rgb(0, 0, 0));
    padding: 10px 30px;
    border-radius: 15px;
    color: blanchedalmond;
    font-weight: 700;
    margin-left: 55%;
}
.second-section{
    display: flex;
    background-image: url(bg.jpg);
    background-position: 100% 100%;
    margin-bottom: 40px;
}
.ssdt{
    width: 60%;
    padding-left: 5%;
    color: rgb(0, 0, 0);
    
}
.ssh2{
    padding-left: 20%;
    font-size: 45px;
    color: rgb(39, 3, 3);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.ssdt img{
    width: 15%;
    padding-left: 36%;
    padding-top: 6%;
}
.ssdo img{
    width: 100%;
    padding-top: 20%;
}
.sa{
    text-decoration: none;
    background-image: linear-gradient( rgb(65, 1, 1), rgb(0, 0, 0));
    padding: 10px 30px;
    border-radius: 15px;
    color: blanchedalmond;
    font-weight: 700;
    margin-left: 34.9%;
}
.third-section{
    margin-bottom: 15px;
}
.tsdo{
    width: 60%;
    padding-left: 20%;
}
.tsdo img{
    width: 10%;
    padding-left: 50%;
}   
.tsh2{
    color: rgb(39, 3, 3);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    padding-left: 47%;
}
.tsdt{
    width: 60%;
    padding-left: 31%;
}
.fourth-section{
    display: flex;
    margin-bottom: 150px;
}
.fsda{
    width: 50%;
    margin:5% 5%;
    padding-left: 5%;
}
.fsda img{
    width: 115%;
    box-shadow: 15px 10px 10px rgb(39, 3, 3);
}
.fsh7{
    text-decoration: none;
    background-image: linear-gradient( rgb(65, 1, 1), rgb(0, 0, 0));
    padding: 6.5px 22.5px;
    border-radius: 15px;
    color: blanchedalmond;
    margin-left: 27.9%;
    
}
#fsdthi img{
    margin-top: 16.5%;
}
.fifth-section{
    background-image: url(burger.jpg);
    display: flex;
    margin-bottom: 40px;
}
.fisdo{
    width: 50%;
    padding-left: 2%;
}
.fisdo img{
    width: 15%;
    padding-left: 36%;
    padding-top: 6%;
}
.fisdt img{
    width: 100%;
    padding-top: 30%;
}
.fish1{
    padding-left: 9.5%;
    color: rgb(39, 3, 3);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.fish2{
    padding-left: 14.5%;
    color: rgb(39, 3, 3);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.fa{
    text-decoration: none;
    background-image: linear-gradient( rgb(65, 1, 1), rgb(0, 0, 0));
    padding: 10px 40px;
    border-radius: 15px;
    color: blanchedalmond;
    font-weight: 400;
}
.fisdos{
    border: solid;
    padding: 5px 14px;
    border-radius: 10px;
}
.sixth-section{
    margin-bottom: 40px;
}
.sish2{
    padding-left: 28.5%;
    color: rgb(39, 3, 3);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}   
.ssda{
    width: 21.5%;
    border-radius: 40px;
    box-shadow: 15px 10px 25px rgb(39, 3, 3);
    margin-left: 8.25%;
    padding: 1.5%;
    
}
.ssda img{
    width: 100%;
}
.seventh-section{
    display: flex;
    margin-bottom: 150px;
}
.eight-section{
    display: flex;
    margin-bottom: 150px;
}
.esda{
    width: 50%;
    
}
.esda img{
    width: 72.5%;
    padding-left: 8%;
}
#esdti img{
    width: 15%;
    padding-left: 36%;
    padding-top: 7%;
}
.esh1{
    color: rgb(39, 3, 3);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 10%;
}
.ea{
    text-decoration: none;
    background-image: linear-gradient( rgb(65, 1, 1), rgb(0, 0, 0));
    padding: 10px 40px;
    border-radius: 15px;
    color: blanchedalmond;
    font-weight: 700;
    margin-left: 32.25%;
}
.ninth-section img{
    width: 39.5%;
   margin-left: 30.5%;
   /* box-shadow: 15px 20px 40px rgb(39, 3, 3); */
   border-radius: 15px;
   padding: 2%;
   margin-bottom: 150px;
}